h1{
    color: #ec95da;
    
}

a{
    color: #dd5325;
    font-style: oblique;
    font-size: 19px;
}

.contenedor{
    
    background-color: rgb(114, 223, 172);
    text-align: center;
    width: 1200px;
    margin: auto;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(83, 72, 233);
    width: auto;
}

.leer:hover{
    color:black;
    background: rgb(128, 119, 0);
}